.container {
  user-select: none;
}

.element {
  background-color: black;
  position: absolute;
  bottom: 0;
  padding-right: 1px;
}

@media (min-width: 576px) {
  .element {
    padding-right: 2px;
  }
}
